---
export const prerender = true;

import { chunk } from "es-toolkit";
import { getSortedStars } from "../../helpers/getStarsSorted";
import Layout from "../../layouts/Layout.astro";
import Content from "../../components/Content.astro";
import PageHeader from "../../components/PageHeader.astro";
import PaginatedGrid from "../../components/PaginatedGrid.astro";
import GithubStarCard from "../../components/items/GithubStarCard.astro";

export async function getStaticPaths() {
  const ITEMS_PER_PAGE = 36;
  const BASE_PATH = "/github-stars";

  const items = await getSortedStars();
  const pages = chunk(items, ITEMS_PER_PAGE);

  return pages.map((pageItems, i) => ({
    params: { page: i === 0 ? undefined : String(i) },
    props: {
      items: pageItems,
      itemsPerPage: ITEMS_PER_PAGE,
      prevUrl: i === 0 ? null : i === 1 ? BASE_PATH : `${BASE_PATH}/${i - 1}`,
      nextUrl: i < pages.length - 1 ? `${BASE_PATH}/${i + 1}` : null,
    },
  }));
}

const { items, itemsPerPage, prevUrl, nextUrl } = Astro.props;
---

<Layout title="Github stars">
  <main class="py-8 md:py-12">
    <Content>
      <article>
        <PageHeader title="Github stars">
          <p>
            A recent selection of projects that I've{" "}<a
              href="https://github.com/philwolstenholme?tab=stars"
              class="underline">starred on GitHub</a
            >.
          </p>
          <p>
            This page is part for me to big up the work of great projects, and
            part to serve as a personal bookmark of repos I find interesting and
            might want to check out or use later.
          </p>
        </PageHeader>
        <PaginatedGrid
          items={items}
          itemsPerPage={itemsPerPage}
          searchParam="githubStars"
          itemComponent={GithubStarCard}
          staticMode={true}
          prevUrl={prevUrl}
          nextUrl={nextUrl}
        />
      </article>
    </Content>
  </main>
</Layout>
