---
import type { CollectionEntry } from "astro:content";

import { markdownToTxt } from "markdown-to-txt";

import { longDateFormatter } from "../../helpers/longDateFormatter";
import GrungeOverlay from "../GrungeOverlay.astro";

const { item: post } = Astro.props as {
  item: CollectionEntry<"dev-to-posts">["data"];
};

const dateStr = post.published_at || post.published_timestamp;
const formattedDate = dateStr
  ? longDateFormatter.format(new Date(dateStr))
  : "";
---

<li
  class="expand-clickable-area row-span-2 gap-0 grid grid-rows-subgrid shadow-hard border border-medium-dark rounded"
>
  <a
    href={post.canonical_url}
    class="row-span-1 text-white bg-medium rounded-t font-bold font-serif transition-colors hocus:bg-medium-dark"
  >
    <span class="relative block overflow-hidden rounded-t p-4">
      <GrungeOverlay class="absolute inset-0 block" />
      <span class="relative">{post.title}</span>
    </span>
  </a>
  <div class="row-span-1 p-4 border-t bg-medium/15 border-medium rounded-b">
    <div class="text-xs mb-2 text-gray-800 dark:text-stone-300">
      <span>
        {formattedDate}
        <span>·</span>
        {post.reading_time_minutes} min read
      </span>
      {
        post.public_reactions_count > 0 && (
          <>
            <span>·</span>
            <span>{post.public_reactions_count} reactions</span>
          </>
        )
      }
      {
        post.comments_count > 0 && (
          <>
            <span>·</span>
            <span>{post.comments_count} comments</span>
          </>
        )
      }
    </div>
    <p class="text-sm line-clamp-3">
      {
        post.body_markdown &&
          markdownToTxt(post.body_markdown).substring(0, 300) + "..."
      }
    </p>
  </div>
</li>
