---
import { markdownToTxt } from "markdown-to-txt";

const { item: post } = Astro.props as { item: any };
---

<li
  class="expand-clickable-area bg-cover row-span-2 gap-0 grid grid-rows-subgrid shadow border rounded"
>
  <a
    href={post.canonical_url}
    class="row-span-1 text-binding-dark bg-white/30 rounded-t font-bold font-serif p-4"
  >
    {post.title}
  </a>
  <div class="row-span-1 p-4 border-t bg-white border-black rounded-b">
    <div class="text-xs mb-2 text-gray-800">
      <span>
        {
          new Date(
            post.published_at || post.published_timestamp || "",
          ).toLocaleDateString()
        }
        <span>·</span>
        {post.reading_time_minutes} min read
      </span>
      {
        post.public_reactions_count > 0 && (
          <>
            <span>·</span>
            <span>{post.public_reactions_count} reactions</span>
          </>
        )
      }
      {
        post.comments_count > 0 && (
          <>
            <span>·</span>
            <span>{post.comments_count} comments</span>
          </>
        )
      }
    </div>
    <p class="text-sm line-clamp-3">
      {
        post.body_markdown &&
          markdownToTxt(post.body_markdown).substring(0, 300) + "..."
      }
    </p>
  </div>
</li>
