---
import { type GithubStar } from "../../content/githubStars";
import { pluralise } from "../../helpers/words";

const { item: star } = Astro.props as { item: GithubStar };

const hasSensibleDescription = Boolean(
  star.description && star.description.length > 1,
);

const yearsOld =
  new Date().getFullYear() - new Date(star.created_at).getFullYear();
const isAnniversary =
  new Date().getMonth() === new Date(star.created_at).getMonth();
---

<li
  class="expand-clickable-area shadow border rounded flex flex-col bg-white/50"
>
  <a
    href={star.html_url}
    class="text-binding-dark bg-graph-paper font-bold font-mono p-4 flex-1"
    title={hasSensibleDescription ? star.description : undefined}
  >
    {star.full_name}
  </a>
  {
    hasSensibleDescription && (
      <div class="p-4 border-t border-black">
        <div
          class="github-star-card__title text-xs space-y-2 truncate"
          style={{
            "animation-delay": `${(Math.random() + 0.1).toFixed(2)}s`,
            "animation-duration": `${(Math.random() + 0.1).toFixed(2)}s`,
          }}
          title={star.description}
        >
          <div class="block">
            {star.stargazers_count > 0 && (
              <span>★ {star.stargazers_count.toLocaleString()}</span>
            )}
            {star.language && (
              <>
                <span>·</span>
                <span>{star.language}</span>
              </>
            )}
            {isAnniversary && (
              <>
                <span>·</span>
                <span>🎂 {pluralise(yearsOld, "year")} old this month</span>
              </>
            )}
          </div>
          <span class="block truncate">{star.description}</span>
        </div>
      </div>
    )
  }
</li>

<style is:global>
  /* @reference "tailwindcss"; */

  @media (prefers-reduced-motion: no-preference) {
    [data-in-view="true"]:not([data-in-view-previously="true"]) .github-star-card__title {
      animation: var(--animate-typewriter);
    }
  }
</style>
