
---
import type { CollectionEntry } from "astro:content";

const { item } = Astro.props;

const isThumbnail = item.type === "thumbnail";
const hasHref = !!item.href;
const outerClass = "contain-content rounded shadow overflow-hidden";
const imgClass = "object-cover aspect-none w-full h-full mix-blend-luminosity transition-opacity" + (hasHref ? " group-hocus:opacity-10" : "");
const containerClass = hasHref
  ? "outline-offset-invert group block w-full overflow-hidden stack grid-cols-[1fr] isolate"
  : "outline-offset-invert group aspect-h-9 aspect-w-16 block w-full overflow-hidden stack grid-cols-[1fr] isolate";
---

{isThumbnail ? (
  hasHref ? (
    <li class={outerClass}>
      <a href={item.href} class={containerClass}>
        <h3 class="sr-only">{item.talkTitle}</h3>
        <img
          src={item.imageSrc}
          alt={item.imageAlt || ""}
          width="272"
          height="153"
          loading="lazy"
          decoding="async"
          crossorigin="anonymous"
          class={imgClass}
        />
        <div class="z-1 flex h-full flex-col justify-end bg-gradient-to-t from-black p-4 font-serif text-xs uppercase text-white">
          <dl class="flex flex-col justify-end transition-transform group-hocus:-translate-y-1 group-hocus:transform-gpu">
            <dt class="sr-only">Event</dt>
            <dd class="font-bold">{item.eventName}</dd>
            <dt class="sr-only">Talk</dt>
            <dd>{item.talkTitle}</dd>
          </dl>
        </div>
      </a>
    </li>
  ) : (
    <li class={outerClass}>
      <div class={containerClass}>
        <h3 class="sr-only">{item.talkTitle}</h3>
        <img
          src={item.imageSrc}
          alt={item.imageAlt || ""}
          width="272"
          height="153"
          loading="lazy"
          decoding="async"
          crossorigin="anonymous"
          class={imgClass}
        />
        <div class="z-1 flex h-full flex-col justify-end bg-gradient-to-t from-black p-4 font-serif text-xs uppercase text-white">
          <dl class="flex flex-col justify-end">
            <dt class="sr-only">Event</dt>
            <dd class="font-bold">{item.eventName}</dd>
            <dt class="sr-only">Talk</dt>
            <dd>{item.talkTitle}</dd>
          </dl>
        </div>
      </div>
    </li>
  )
) : (
  <li class={outerClass}>
    <figure class="stack grid-cols-[1fr] shadow border rounded bg-white contain-content relative grid h-full">
      <div class="isolate flex flex-col justify-center space-y-3 p-4 text-center">
        <blockquote class="isolate mx-auto max-w-md font-serif text-xl font-bold leading-tight">
          <h3>{item.quote}</h3>
        </blockquote>
        <figcaption class="isolate mx-9 text-xs uppercase">
          {item.href ? (
            <a href={item.href} class="hocus:underline">
              {item.attribution}
            </a>
          ) : (
            item.attribution
          )}
        </figcaption>
      </div>
    </figure>
  </li>
)}
