---
import { getCollection } from "astro:content";

import { Section } from "./Section";
import Lede from "./Lede.astro";
import { StyledTextLink } from "./StyledTextLink";
import PaginatedGrid from "./PaginatedGrid.astro";
import DevToPostCard from "./items/DevToPostCard.astro";

const searchParam = "posts";
const anchor = "posts";
const itemsPerPage = 3;
const collection = await getCollection("dev-to-posts");

const items = collection.map((entry) => entry.data);
---

<Section heading="Posts">
  <Lede>
    <p class="max-w-3xl font-serif leading-relaxed tracking-widest mt-3">
      Blog posts I've posted on <StyledTextLink href="https://dev.to/philw_"
        >DEV Community</StyledTextLink
      > or <StyledTextLink href="https://philwolstenholme.medium.com"
        >Medium</StyledTextLink
      > (one day I'll build my own blog, I promise…)
    </p>
  </Lede>
  <div class="mt-8">
    <PaginatedGrid
      items={items}
      itemsPerPage={itemsPerPage}
      searchParam={searchParam}
      anchor={anchor}
      itemComponent={DevToPostCard}
    >
      <div slot="empty" class="text-center text-gray-500 py-8">
        No posts found.
      </div>
    </PaginatedGrid>
  </div>
</Section>
