---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

import { getItemsPerPage } from "../helpers/getItemsPerPage";
import { sortStars } from "../helpers/getStarsSorted";
import Section from "./Section.astro";
import StyledTextLink from "./StyledTextLink.astro";
import PaginatedGrid from "./PaginatedGrid.astro";
import Lede from "./Lede.astro";
import GithubStarCard from "./items/GithubStarCard.astro";

interface Props {
  collection?: CollectionEntry<"github-stars">[];
  isMobile?: boolean;
}

const { collection: collectionProp, isMobile: isMobileProp } = Astro.props;

const searchParam = "githubStars";
const anchor = "stars";
const isMobile = isMobileProp ?? Astro.locals.isMobile ?? false;
const itemsPerPage = getItemsPerPage({ isMobile });
const collection = collectionProp || (await getCollection("github-stars"));

const items = sortStars(collection);
---

<Section id="stars" heading="Starred">
  <Lede>
    A recent selection of projects that I've{" "}
    <StyledTextLink href="/github-stars">starred on GitHub</StyledTextLink>.
  </Lede>
  <div class="mt-8">
    <PaginatedGrid
      items={items}
      itemsPerPage={itemsPerPage}
      searchParam={searchParam}
      anchor={anchor}
      itemComponent={GithubStarCard}
      htmxPartialPath="/partials/stars"
    />
  </div></Section
>
