---
import { getCollection } from "astro:content";

import { Section } from "./Section";
import { getItemsPerPage } from "../helpers/getItemsPerPage";
import { StyledTextLink } from "./StyledTextLink";
import PaginatedGrid from "./PaginatedGrid.astro";
import Lede from "./Lede.astro";
import GithubStarCard from "./items/GithubStarCard.astro";

const { collection: collectionProp } = Astro.props;

const searchParam = "githubStars";
const anchor = "stars";
const itemsPerPage = getItemsPerPage({
  astroRequest: Astro.request,
  mobileItemsPerPage: 5,
  desktopItemsPerPage: 12,
});
const collection = collectionProp || await getCollection("github-stars");

const items = collection.map((entry) => entry.data);
---

<Section heading="Stars">
  <Lede>
    A recent selection of projects that I've{" "}
    <StyledTextLink href="https://github.com/philwolstenholme?tab=stars">
      starred on GitHub</StyledTextLink
    >.
  </Lede>
  <div class="mt-8">
    <PaginatedGrid
      items={items}
      itemsPerPage={itemsPerPage}
      searchParam={searchParam}
      anchor={anchor}
      itemComponent={GithubStarCard}
    />
  </div></Section
>
