---
import { paginate } from "../helpers/paginate";
import Pagination from "./Pagination.astro";

const {
  items,
  itemsPerPage,
  searchParam = "page",
  anchor,
  onlyFullPages = true,
  itemComponent: Item,
  htmxPartialPath,
  pageUrl,
} = Astro.props as {
  items: readonly unknown[];
  itemsPerPage: number;
  searchParam?: string;
  anchor?: string;
  onlyFullPages?: boolean;
  itemComponent: any; // Component expected to output its own <li>
  htmxPartialPath?: string;
  pageUrl?: URL;
};

const { data, hasPrev, hasNext, prevIndex, nextIndex } = paginate({
  onlyFullPages,
  items,
  itemsPerPage,
  url: new URL(Astro.request.url),
  searchParam,
});
---

{
  data && data.length > 0 ? (
    <div
      x-data
      @htmx:after-swap={`$event.target.id === 'paginated-grid-${searchParam}' && $focus.within($event.target).first()`}
    >
      <div id={`paginated-grid-${searchParam}`}>
        <ul class="grid gap-4 grid-cols-[repeat(auto-fit,minmax(330px,1fr))]">
          {data.map((item: any) => (
            <Item key={item.id} item={item} />
          ))}
        </ul>
        <Pagination
          anchor={anchor}
          hasPrev={hasPrev}
          hasNext={hasNext}
          prevIndex={prevIndex}
          nextIndex={nextIndex}
          searchParam={searchParam}
          htmxPartialPath={htmxPartialPath}
          pageUrl={pageUrl}
        />
      </div>
    </div>
  ) : (
    <slot name="empty" />
  )
}
