---
import { getCollection } from "astro:content";

import { getItemsPerPage } from "../helpers/getItemsPerPage";
import { mergeReadingLists } from "../helpers/mergeReadingLists";
import ReadingListCard from "./items/ReadingListCard.astro";
import Lede from "./Lede.astro";
import PaginatedGrid from "./PaginatedGrid.astro";
import Section from "./Section.astro";

interface Props {
  isMobile?: boolean;
}

const { isMobile: isMobileProp } = Astro.props;

const searchParam = "readingList";
const anchor = "reading";
const isMobile = isMobileProp ?? Astro.locals.isMobile ?? false;
const itemsPerPage = getItemsPerPage({ isMobile });

const [devToCollection, airtableCollection] = await Promise.all([
  getCollection("dev-to-reading-list"),
  getCollection("airtable-reading-list"),
]);

const items = mergeReadingLists(devToCollection, airtableCollection);
---

<Section id="reading" heading="Reading">
  <Lede>
    <p class="max-w-3xl font-serif leading-relaxed tracking-widest mt-3">
      Some things I've been reading recently and some random items from the
      vaults:
    </p>
  </Lede>
  <div class="mt-8">
    <PaginatedGrid
      items={items}
      itemsPerPage={itemsPerPage}
      searchParam={searchParam}
      anchor={anchor}
      itemComponent={ReadingListCard}
      htmxPartialPath="/partials/reading-list"
    >
      <p
        slot="empty"
        class="text-center text-gray-500 py-8 dark:text-stone-400"
      >
        No reading list items found. Make sure you have set up your DEV.to API
        key and have items in your reading list.
      </p>
    </PaginatedGrid>
  </div>
</Section>
