---
import CurvyArrow from "./icons/CurvyArrow.astro";

interface Props {
  direction: "left" | "right";
  themeClass: string;
}

const { direction, themeClass } = Astro.props;
const isLeft = direction === "left";

const bindClass = `{ 'opacity-0 pointer-events-none': !overflowing.${direction} }`;
const bindInert = `!overflowing.${direction}`;
const onClickHandler = isLeft ? "scrollLeft()" : "scrollRight()";
---

<button
  type="button"
  class:list={[
    "group absolute inset-y-0 z-10 hidden w-10 items-center justify-center origin-center transform-gpu transition-transform active:scale-95 md:flex",
    isLeft ? "left-16" : "right-16",
    themeClass,
  ]}
  x-cloak
  x-bind:class={bindClass}
  x-bind:inert={bindInert}
  x-on:click={onClickHandler}
>
  <span class="sr-only">{isLeft ? "Back" : "Forward"}</span>
  <span
    class="shadow-hard aspect-square rounded-full bg-white/40 p-0.75 backdrop-blur-xs"
  >
    <span
      class:list={[
        "bg-paper-grunge p-2 rounded-full grid place-content-center aspect-square",
        !isLeft && "rotate-180",
      ]}
    >
      <CurvyArrow
        class="group-hocus:-rotate-6 block h-auto w-8 -rotate-3 transform-gpu"
      />
    </span>
  </span>
</button>
