---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import slugify from "@sindresorhus/slugify";
import { sortPortfolio } from "../helpers/getPortfolioSorted";
import { buildPortfolioImageUrl } from "../helpers/buildPortfolioImageUrl";
import Section from "./Section.astro";
import ScrollerButton from "./ScrollerButton.astro";
import Lede from "./Lede.astro";
import CurvyArrow from "./icons/CurvyArrow.astro";

interface Props {
  collection?: CollectionEntry<"portfolio">[];
}

const { collection: collectionProp } = Astro.props;

const collection = collectionProp ?? (await getCollection("portfolio"));
const sorted = sortPortfolio(collection);
const items = sorted.slice(0, 3);
---

<Section id="work" heading="Work">
  <Lede>
    A selection of websites/web applications I've helped design and build.
  </Lede>
  <ul class="mt-8 grid gap-6 sm:grid-cols-3">
    {
      items.map((entry) => {
        const { data } = entry;
        const workPageHref = `/work#${slugify(data.name)}`;
        return (
          <li class="card--portfolio transition-transform">
            {data.cloudinarySuffix && (
              <div class="grid">
                <div
                  class="work-card__image-bg col-start-1 row-start-1 -rotate-3 transform rounded-2xl"
                  style={data.color ? `--brand-colour: ${data.color}` : ""}
                />
                <a
                  class="relative col-start-1 row-start-1 block"
                  href={workPageHref}
                  aria-label={data.name}
                >
                  <img
                    src={buildPortfolioImageUrl(data.cloudinarySuffix, 560)}
                    srcset={`${buildPortfolioImageUrl(data.cloudinarySuffix, 560)} 1x, ${buildPortfolioImageUrl(data.cloudinarySuffix, 1120)} 2x`}
                    width="548"
                    height="344"
                    loading="lazy"
                    fetchpriority="low"
                    alt=""
                    class="screenshot rounded-2xl border-2 border-white bg-white object-cover object-top shadow-hard w-full aspect-[137/86]"
                  />
                </a>
              </div>
            )}
            <p class="mt-3 font-serif font-bold text-lg">
              <a href={workPageHref} class="hover:underline">
                {data.name}
              </a>
            </p>
          </li>
        );
      })
    }
  </ul>
  <p class="mt-6">
    <ScrollerButton href="/work">
      See more portfolio items
      <CurvyArrow class="inline-block h-2 pl-2 rotate-180" />
    </ScrollerButton>
  </p>
</Section>
