---
import { StyledTextLink } from "../components/StyledTextLink";
import "../styles/global.css";
export interface Props {
  title?: string;
  hasTitleSuffix?: boolean;
}
const { title = "Phil Wolstenholme", hasTitleSuffix = true } =
  Astro.props as Props;
const titleSuffix = " | Phil Wolstenholme";
const fullTitle = hasTitleSuffix ? `${title}${titleSuffix}` : title;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="noindex, nofollow" />
    <title>{fullTitle}</title>
    <meta charset="UTF-8" /><meta
      name="viewport"
      content="width=device-width,initial-scale=1"
    />
    <meta name="view-transition" content="same-origin" />
    <meta name="description" content="Phil Wolstenholme's personal site" />
    <link rel="canonical" href="https://wolstenhol.me/" />
    <meta property="og:site_name" content="Phil Wolstenholme" />
    <meta property="og:title" content={fullTitle} />
    <meta property="twitter:title" content={fullTitle} />
    <meta
      property="og:description"
      content="Phil Wolstenholme's personal site"
    />
    <meta
      property="twitter:description"
      content="Phil Wolstenholme's personal site"
    />
    <meta property="og:url" content="https://wolstenhol.me/" />
    <meta property="og:locale" content="en_gb" />
    <meta property="og:type" content="website" />
    <meta name="twitter:site" content="@philw_" />
    <meta name="twitter:creator" content="@philw_" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="image"
      property="og:image"
      content="https://wolstenhol.me/og?title=Phil%20Wolstenholme's%20personal%20website%2C%20blog%20and%20portfolio&url=https%3A%2F%2Fwolstenhol.me%2F&v=1.5.0"
    />
    <meta
      property="og:image:alt"
      content="Phil Wolstenholme's personal website, blog and portfolio, a webpage by Phil Wolstenholme, @philw_"
    />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="My posts on dev.to"
      href="https://dev.to/feed/philw_"
    />
    <meta name="theme-color" content="#161616" />
  </head>
  <body class="bg-subtle-grunge">
    {
      Astro.cookies.has("hideWipBanner") === false && (
        <div
          id="wip-banner"
          class="sticky border-b border-black z-50 flex py-2 gap-4 top-0 pr-4 bg-yellow-300 text-black text-sm md:text-base"
        >
          <marquee>
            This is a work in progress, my real website is{" "}
            <StyledTextLink href="https://wolstenhol.me/">
              https://wolstenhol.me
            </StyledTextLink>
          </marquee>
          <button
            class="shrink-0 underline"
            onclick="document.getElementById('wip-banner').style.display='none'; document.cookie = 'hideWipBanner=true; max-age=' + 60*60*24*5 + '; path=/';"
          >
            Close me
          </button>
        </div>
      )
    }
    <slot />
    <script type="speculationrules">
      {
        "prerender": [
          {
            "source": "document",
            "where": {
              "and": [
                { "href_matches": "/*" },
                { "not": { "selector_matches": ".no-prerender" } },
                { "not": { "selector_matches": "[rel~=nofollow]" } }
              ]
            },
            "eagerness": "eager"
          }
        ]
      }
    </script>
  </body>
</html>

<style is:global>
  body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
</style>
