---
interface Props {
  title: string;
}

const { title } = Astro.props;

import '../styles/base.css';
import designElements from '../design-elements.svg?raw';
import sprite from '../sprite.svg?raw';
---

<!doctype html>
<html lang="en" class="bg-binding-dark antialiased overflow-y-scroll overflow-x-hidden">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" type="image/icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="preload" as="font" href="/assets/fonts/roboto-slab-v12-latin-regular.woff2" type="font/woff2" crossorigin="anonymous" />
    <link rel="preload" as="font" href="/assets/fonts/roboto-slab-v12-latin-700.woff2" type="font/woff2" crossorigin="anonymous" />
  </head>
  <body class="text-gray-900 leading-normal connection--unknown">
    <script>
      if ((navigator as any).connection && (navigator as any).connection.effectiveType) {
        document.body.classList.remove('connection--unknown');
        document.body.classList.add(`connection--${(navigator as any).connection.effectiveType}`);
      }
    </script>
    <script>
      let root = document.documentElement;
      let scrollbarWidth = window.innerWidth - document.body.offsetWidth;
      root.style.setProperty('--scrollbar-width', `${scrollbarWidth}px`);
      declare global {
        interface Window {
          pw: any;
        }
      }

      window.pw = window.pw || {};
    </script>
    <a
      href="#content"
      class="bg-binding-dark block border border-yellow-500 focus:not-sr-only left-3 p-5 sr-only text-yellow-500 top-3 z-50"
    >
      Skip to main content
    </a>
    <div role="document" class="min-h-screen flex flex-col">
      <main class="flex-grow w-full bg-subtle-grunge outline-none" id="content" tabindex="-1">
        <slot />
      </main>
    </div>
    <script>
      if (
        document.location.hash.includes('access_token') &&
        document.location.hash.includes('token_type') &&
        document.location.hash.includes('expires_in') &&
        document.location.hash.includes('refresh_token')
      ) {
        const redirectUrl = 'https://wolstenhol.me/submit-reading-item';
        window.location.href = redirectUrl + document.location.hash;
      }
    </script>
    <div hidden>
      <Fragment set:html={designElements} />
      <Fragment set:html={sprite} />
    </div>
  </body>
</html>
